#i1 { 
    border: 111px;
    padding: 22px;
    margin-right: 15px;}
    #rech{
width: 100 px;
height: 60px;
    }
   
    #btrech{
   padding: 2px;      
   width:50px;
   height: 40px;
   margin-right: 15px;
    }
    #rech{
        width: 300px;
        height: 20px;
    }
    #btcam{
        padding: 2px;      
        width:30px;
        height: 40px;
        margin-right: 15px;
         }
         #btgrille{
            padding: 2px;      
            width:30px;
            height: 40px;
            margin-right: 15px;
             }
             #btflesh{
                padding: 2px;      
                width:30px;
                height: 40px;
                margin-right: 15px;
                 }
                 #bttrp{
                    padding: 2px;      
                    width:30px;
                    height: 40px;
                    margin-right: 15px;
                     }
    
    .cnx{
        color: blue;
        margin-right: 20px
    }
  
 
  
   
   

   